<h1> our rap artists </h1>

<h3> Here are your rap stats! Get your fresh, pipin' hot rap stats!</h3>

<br>

<ul>

{{#each rapStats}}

	<li>
	
		<p> {{this.name}} <br>

		{{this.uWords}} unique words employed <br>

		{{this.uWordsProp}} percent of those words</p> <br>

	</li>

	<li>
	
		<p> {{this.name}} <br>

		{{this.uWords}} unique words employed <br>

		words unique to artist: {{this.uToArtist}} <br>

		number of songs: {{this.numSongs}} <br>

		average words per song: {{this.wordsPerSong}} <br>

		proportion of unique words: {{this.uWordsProp}} <br>

	</li>

{{/each}}

</ul>
